@{
    ViewData["Title"] = "Fancy Chat";
}

<div class="container my-4">
    <div class="form-row">
        <div class="col-3">
            <input id="user" type="text" class="form-control" placeholder="User" />
        </div>
        <div class="col-8">
            <input id="message" type="text" class="form-control" placeholder="Message" />
        </div>
        <div class="col">
            <button id="send" class="btn btn-primary align-bottom">Send</button>
        </div>
    </div>
</div>

<hr />

<div class="container">
    <ul id="chat" class="m-0"></ul>
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script>

        $(function()
        {
            const connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

            connection.on("Receive", function(user, msg)
            {
                $("#chat").append(`<li><strong>${user}:</strong> ${msg}</li>`);
            });

            $("#send").click(function()
            {
                connection.invoke("Broadcast", $("#user").val(), $("#message").val());
            });

            connection.start();
        });

    </script>
}
